@using Irisi_M_301072868.Models
@model IEnumerable<Player>
@{
    ViewBag.Title = "Players";
}
@if (ViewBag.SuccessMsg != null)
{
    <h3 style="color:forestgreen">@ViewBag.SuccessMsg</h3>
}
<a asp-action="Create" asp-controller="Players">Add New Player</a>
<br /><br />
<table class="table table-responsive" border="1" style="width:40%; margin-left:0%">
    <thead>
        <tr>
            <th style="width:33%;text-align:center">Player Name</th>
            <th style="width:33%;text-align:center">Club Name</th>
            <th style="width:33%;text-align:center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.FirstName  @player.LastName</td>
                <td>@player.clubs.ClubName</td>
                <td style="text-align:center">
                    <a asp-action="Details" asp-controller="Players" asp-route-id="@player.PlayerId" style="text-decoration: none">View</a>
                    <a asp-action="Edit" asp-controller="Players" asp-route-id="@player.PlayerId" style="text-decoration:none">Edit</a>
                    <a asp-action="Delete" asp-controller="Players" asp-route-id="@player.PlayerId" style="text-decoration:none">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>