@using Irisi_M_301072868.Models
@model Irisi_M_301072868.Models.Player

@{
    ViewBag.Title = "Players";
}
<a asp-action="Create" asp-controller="Players">Add New Player</a>
<br />
<br />
<table class="table table-responsive" border="1" style="width:30%; margin-left:0%">
    <tbody>
        <tr>
            <td> First Name:  @Model.FirstName</td>
        </tr>
        <tr>
            <td> Last Name:  @Model.LastName</td>
        </tr>
        <tr>
            <td> Date of Birth:  @Model.DayOfBirth.ToString("MMM dd, yyyy")</td>
        </tr>
        <tr>
            <td> Gender:  @Model.Gender</td>
        </tr>
        <tr>
            <td> Email:  @Model.Email</td>
        </tr>
        <tr>
            <td> Phone:  @Model.PhoneNo</td>
        </tr>
        <tr>
            <td> Club:  @Model.clubs.ClubName</td>
        </tr>
        <tr>
            <td> Joining Date:  @Model.ClubJoinedDate.ToString("MMM dd, yyyy")</td>
        </tr>
    </tbody>
</table>